assets/diriotterrdx/shapes/entity/humanoid/diri texture.bbmodel
assets/diriotterrdx/shapes/entity/humanoid/diri-diriotterbodytex.png
assets/diriotterrdx/shapes/entity/humanoid/diriotter-faceless2.json
